<div ng-repeat="item in menu.foundItems">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2 class="ng-binding">{{item.name}}</h2>
                <h3 class="ng-binding">{{item.short_name}}</h3>
                <p class="ng-binding">{{item.description}}</p>
                <input type="button" ng-click="menu.onRemove({index: $index})" class="btn btn-lg btn-primary" value="Don't want this one!">
            </div>
        </div>
    </div>
    <div class="alert alert-danger ng-binding" role="alert" ng-show="menu.onEmpty">Nothing found!</div>